.banner,
.interBanner {
    display: flex;
    /* background-color: rgb(247, 247, 247); */
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* 일반 배너 */
.mainTxtWrap {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainTxtWrap div {
    margin-bottom: 32px;
}

.mainTxtWrap p {
    font-size: 0.75rem;
    line-height: 150%;
    /* width: 80%; */
}

.banner span {
    font-size: 7rem;

}

.banner {
    justify-content: space-between;
}

.banner>img {
    height: calc(100vh - 100px);
}

.interBtn {
    padding: 0;
    margin: 0 24px;
    align-items: center;
    background-color: transparent;
    border: none;
}

/* 인터 배너 */
.interBanner {
    position: relative;
    height: calc(100vh - 40px);
}

.interBanner>div:first-child {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    /* background-color: red; */
}

.btnPrev {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999;
    cursor: pointer;
}


.interaction {
    position: relative;

    height: 100%;

}

.imgMain {
    height: 100%;
}

.interaction .mask {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: none;
}


.imgMain img {
    height: 100%;
}

.mask img {
    height: 91%;
    margin-bottom: 48px;
}

.interBanner .notice {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 24px;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 999;
}

.interBtnOff {
    background-color: transparent;
    border: none;
}

.interBtn:hover,
.interBtnOff:hover {
    filter: brightness(0.8);
}

/* 모바일 css----------------------------------- */
.m_banner {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 92px;
    align-items: center;
    /* justify-content: center; */
}

.m_banner img {
    width: auto;
    max-width: 100%;

    max-height: calc(100vh - 200px);
}

.m_banner p {
    font-size: 3rem;
}