.profileImg img,
.imgInter img,
.imgStep img {
    width: 100%;
}

.profileImg,
.motionPoster,
.imgInter,
.imgStep {
    background-color: #ececec;
}

.pjContainer .box,
.m_pjContainer .box {
    margin-top: 128px;
    margin-bottom: 32px;
}

.pjContainer .box .wrap {
    border-top: 1px solid black;
    padding-top: 32px;
    padding: 32px 16px 0 16px;

}

.pjContainer section {}

.mainConcept {
    gap: 64px;
}



.subject h2 {
    font-size: 2.5rem;
    word-break: keep-all;
    font-weight: 500;
    line-height: 130%;
}

.article {
    gap: 32px;

}

.article>div:first-child {
    flex: 1;
    min-width: 190px;
}

.article>div:last-child {
    flex: 5;
}

.article .exp {
    gap: 32px;

}

.article .exp>div:first-child {
    flex: 1.5;
}

.article .exp>div:last-child {
    flex: 1;
}

.article .expTxt {
    display: inline-block;
    padding-left: 24px;
    border-left: 6px solid;
    border-image: linear-gradient(to bottom, var(--subColor), var(--mainColor)) 1;
}

.article .expTxt .titlePj {
    font-size: 2rem;
    font-weight: 500;
    word-break: keep-all;
    margin-bottom: 16px;
}

.mainConcept .wrap {
    gap: 72px;
}

.author {
    padding-right: 16px;
    text-align: right;
    border-right: 1px solid black;
    justify-content: flex-end;
}

.author p:first-child {
    margin-bottom: 12px;
}

.author span:not(:last-child) {
    margin-right: 8px;
}


.poster .exp {

    justify-content: space-between;
    width: 100%;
}

.poster .exp>div:first-child {
    height: 100%;
    gap: 24px;
    justify-content: space-between;
}

.poster .imgposter {
    display: flex;
    width: 100%;
    justify-content: center;

}

.motionPoster {
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.motionPoster video,
.motionPoster img {
    width: 100%;
    object-fit: cover;
}

.btnPoster {
    align-items: flex-end;
    margin-left: auto;
}

.exp button {
    font-size: 1.125rem;
    border: 1px solid black;
    background-color: transparent;
    padding: 12px 24px;
}

.inter .exp {
    margin-bottom: 48px;
}

.inter .exp>div {
    flex: 1;
}

.inter .exp .expTxt p:last-child {
    margin-top: 12px;
    color: #a7a7a7;
    text-transform: lowercase;
}

.inter .imgInter {
    display: flex;
    align-items: center;
}

.interStep,
.m_interStep {
    gap: 12px;
    margin-bottom: 64px;
}


.step {
    gap: 12px;
    margin-bottom: 48px;
}

.step p {
    line-height: 150%;
    margin-top: 12px;
}

.stepNum {
    word-break: keep-all;
    font-size: 0.875rem;
}

.interVideo {
    width: 100%;
    height: 512px;
    background-color: aqua;

}

/* .pjContainer .box:not(:first-child, :last-child) {
    margin: 128px 0;
}







.mainConcept {
    display: flex;
    position: relative;
    background-color: var(--black);
    color: white;
    min-height: calc(100vh - 150px);
    justify-content: center;
}

.mainConcept>div {
    padding: 64px 0;
}

.concept {
    align-items: center;
}

.concept h1 {
    margin-right: 128px;
}

.concept span {
    padding-left: 32px;
    border-left: 1px solid white;
}


.concept+.author {
    position: absolute;
    right: var(--padding);
    bottom: 64px;
}

.author {
    padding-right: 24px;
    text-align: right;
    border-right: 1px solid white;
    justify-content: flex-end;
}

.author p,
.author span {
    color: white;
}

.author p:first-child {
    margin-bottom: 12px;
}

.author span:not(:last-child) {
    margin-right: 8px;
}


.motionPoster {
    display: flex;
    height: calc(100vh - 50px);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.motionPoster video,
.motionPoster img {
    height: calc(100% - 50px);
}


.subject {
    align-items: center;
    margin-bottom: 48px;
}

.subject>h2,
.m_subject>h2 {
    font-size: 3rem;
    word-break: keep-all;
    font-weight: 500;
    line-height: 130%;

}

.subject h2 {
    margin-right: 48px;
}


.subject>div {
    padding-left: 32px;
    border-left: 8px solid;
    border-image: linear-gradient(to bottom, var(--subColor), var(--mainColor)) 1;
}

.titlePJ {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 12px;
}

.btnPoster {
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-top: 24px;

}

.btnPoster p {
    display: none;
    background-color: var(--black);
    color: white;
    padding: 12px;
    margin-right: 24px;
}

.btnPoster button {
    background-color: var(--black);
    color: white;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;
}

.btnPoster:hover p {
    display: block;
}


.btnPoster button:hover~p {
    display: block;
}




.inter .format {
    color: #a7a7a7;
    margin-top: 12px;
}



 */



/* 모바일 css------------------------------------------------- */

.m_pjContainer section {
    padding: 0 12px;
}

.m_pjContainer .box:not(:last-child) {
    padding-top: 12px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.m_pjContainer .article {
    gap: 24px;
}

.m_pjContainer .article .subject h2 {
    font-size: 2rem;
}

.m_pjContainer .article .exp {
    gap: 16px;
}

.m_pjContainer .article .expTxt {
    padding-left: 16px;
}

.m_pjContainer .article .expTxt .titlePj {
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.m_pjContainer .box:last-child {
    margin-top: 84px;
}

.m_pjContainer .mainConcept .wrap {
    gap: 28px;
    font-size: 0.75rem;
}

.m_pjContainer .mainConcept p {
    margin-bottom: 8px;
}

.m_btnPoster button {
    /* display: flex; */
    width: 100%;
}

.m_pjContainer .inter .exp {
    margin-bottom: 12px;
}

.m_pjContainer .inter .exp .expTxt p:last-child {
    margin-top: 8px;
    font-size: 0.75rem;
}

.m_pjContainer .inter .stepScroll {
    overflow-x: auto;
}

.m_pjContainer .inter .stepScroll::-webkit-scrollbar {
    display: none
}

.m_pjContainer .inter .stepNum {
    font-size: 0.75rem;
}

.m_pjContainer .inter .imgStep {
    /* position: relative; */
    width: 50vw;
}

/* .m_concept {
    border-left: 1px solid white;
    padding: 0 24px;
}

.m_concept h1 {
    font-size: 2rem;
    margin-bottom: 24px;
}

.m_concept+.author {
    font-size: 0.75rem;
    margin-top: 64px;
    word-break: break-all;
}



.m_subject {
    margin-bottom: 32px;
    padding-left: 24px;
    border-left: 4px solid;
    border-image: linear-gradient(to bottom, var(--subColor), var(--mainColor)) 1;
}

.m_subject>h2 {
    font-size: 2rem;
    margin-bottom: 24px;
}

.m_subject .titlePJ {
    font-size: 1.5rem;
}

.m_subject .format {
    font-size: 0.75rem;
    margin-top: 8px;
    color: #a7a7a7;
}

.m_motionPoster {
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 32px;

}

.m_motionPoster video {
    width: 100%;
    height: 100%;
}

.m_motionPoster img {
    width: 100%;
}

.m_step {
    gap: 12px;
}

.m_step p {
    font-size: 0.75rem;
    margin-top: 8px;
} */